<!--Views/Header.ejs-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Liquex</a>
<button class="navbar-toggler" type="button" dat 
<span class="navbar-toggler-icon"></span>
</button>

<!-- Navigation-->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/"> Home </span>
        <li class="nav-item active">
        <a class="nav-link" href="/trade"> Trade </span>
        <li class="nav-link active">
        <a class="nav-link" href="/exchange"> Exchange </span>
        <li class="nav-link active">
        <a class="nav-link" href="/support">
    </ul>

    



<!--
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-brand" href="#">
    <a class="navbrand-brand" href="#">
-->
        