<!--Views/Partials/Head.ejs-->

<meta charset="UTF-8">
<title> Liquex</title>

<!--- CSS (load boostrap from a CDN) -->

<link rel="stylesheet" href="//maxcdn.boostrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style> 
    body    {padding-top: 50px;}
</style>


